@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;600&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #006fd4;
  --color-secondary: #0f1e45;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

body {
  @apply font-primary bg-black text-white;
}
